# Copyright (C) 2018-2023  C-PAC Developers
# This file is part of C-PAC.
# C-PAC is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
# C-PAC is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along with C-PAC. If not, see <https://www.gnu.org/licenses/>.
boto3==1.37.35
ciftify @ git+https://git@github.com/fcp-indi/ciftify
click==8.1.8
click-aliases==1.0.5
configparser==7.2.0
flowdump==0.1.2
future==1.0.0
INDI-Tools @ git+https://git@github.com/FCP-INDI/INDI-Tools.git@998c246c597209f06f8d5c5b92ddc2c9c1942f46
joblib==1.4.2
lockfile==0.12.2
matplotlib==3.9.4
networkx==3.2.1
nibabel==5.3.2
nilearn==0.11.1
nipype==1.10.0
nose==1.3.7
numpy==2.0.2
pandas==2.2.3
pathvalidate==3.2.3
patsy==1.0.1
prov==2.0.1
psutil==7.0.0
PyBASC==0.6.1
pybids==0.19.0
PyPEER @ git+https://git@github.com/ChildMindInstitute/PyPEER.git@6965d2b2bea0fef824e885fec33a8e0e6bd50a97
python-dateutil==2.9.0
PyYAML==6.0.1
requests==2.32.3
scikit-learn==1.6.1
scipy==1.13.1
sdcflows==2.12.0
semver==3.0.4
traits==7.0.2
voluptuous==0.15.2
# the below are pinned specifically to match what the FSL installer installs
botocore==1.37.35
charset-normalizer==3.4.1
cryptography==44.0.2
h5py==3.13.0
importlib-metadata==8.6.1
lxml==5.3.2
pip==25.0.1
setuptools==78.1.0
urllib3==2.4.0
wheel==0.45.1
zipp==3.21.0
